/**
 * You can override the default Infima variables here.
 * Note: this is not a complete list of --ifm- variables.
 */
:root {
    --ifm-color-primary: #2b118a;
    --ifm-color-primary-dark: #270f7c;
    --ifm-color-primary-darker: #250e75;
    --ifm-color-primary-darkest: #1e0c61;
    --ifm-color-primary-light: #2f1398;
    --ifm-color-primary-lighter: #31149f;
    --ifm-color-primary-lightest: #3816b3;
    --ifm-code-font-size: 95%;
    --ifm-font-family-base: 'Cabin', sans-serif;
    --ifm-font-family-monospace: 'Inconsolata', monospace;
}

.navbar__logo {
    /* overriding docusaurus styles */
    height: 66%;
    margin-right: 0.25rem;
}

.navbar__title {
    text-transform: uppercase;
}

.lqlint-hero {
    background-image: linear-gradient(-45deg, #21004b, #231338);
    color: white;
}

.lqlint-tagline {
    font-weight: bold;
    font-size: 4.5rem;
    line-height: 1em;
    margin: 0;
}

.lqlint-actions {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.lqlint-actions > * {
    margin-right: 1rem;
}

.lqlint-cta {
    text-transform: uppercase;
}

.lqlint-feature-illustration {
    max-width: 60%;
    max-height: 128px;
    margin: 0 auto;
}

.lqlint-feature-title {
    font-size: var(--ifm-h3-font-size);
    padding-top: 1rem;
}
